@model homeStay_MVC.Models.Info

@{
    ViewBag.Title = "Delete";
}

<h2>Details</h2>

<div>
    @Html.DisplayNameFor(model => model.PersonID)
    @Html.DisplayFor(model => model.FirstName)
    @Html.DisplayNameFor(model => model.LastName)
    @Html.DisplayFor(model => model.DoB)
    @Html.DisplayFor(model => model.Gender)
    @Html.DisplayFor(model => model.ContactNumber)
    @Html.DisplayFor(model => model.Email)
    @Html.DisplayFor(model => model.UserCategory)
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoB)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.UserCategory)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
