@model IEnumerable<homeStay_MVC.Models.Owner>

@{
    ViewBag.Title = "Rooms";
}
<link rel="stylesheet" href="https://app.staticsave.com/root/root.css">
<link href="~/Content/Index.css" rel="stylesheet" />

<!--

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.OwnerID }) |
            </td>
        </tr>
    }

</table>
-->



<div id="container">
    <div id="room">
        <ul id="room-icons">
            @foreach (var item in Model)
            {
                <li>
                    <img src="https://lh3.googleusercontent.com/p/AF1QipMM_kCAUy1BUO15WsKfKGoA2voI_bHrjWPl7Vt1=w296-h202-n-k-rw-no-v1">
                    <p id="hotelName">@Html.DisplayFor(modelItem => item.OwnerName)</p>
                    <p id="stars">@Html.DisplayFor(modelItem => item.ContactNo)-star Hotel </p>
                    <p id="address">Mumbai</p><br>
                    <a href="https://www.radissonhotels.com/en-us/hotels/radisson-blu-mumbai-airport?cid=a:se+b:gmb+c:apac+i:local+e:rdb+d:ind+h:INMHBOMAIR" target="_blank" id="website">Website</a>
                    @Html.ActionLink("Details", "Details", new { id = item.OwnerID }, new { @id = "book" })
                </li>
            }
        </ul>
    </div>
</div>
