@using Microsoft.AspNet.Identity
@model homeStay_MVC.Models.ManageUserViewModel
<script src="https://kit.fontawesome.com/c5266611a7.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://app.staticsave.com/root/root.css">

<style>
    #pswd, #pss2 {
        transition: 2s;
        display: none;
    }

    /* back body  */
    #wrapper {
        width: 100%;
        padding-top: 60px;
        margin-bottom: 70px;
        margin-right: auto;
        margin-left: auto;
    }

    button,
    select {
        outline: none;
        appearance: none;
        -webkit-appearance: none;
    }

    a {
        text-decoration: none;
    }

    p {
        margin: 0;
        padding: 0;
    }

    #field {
        margin-bottom: 20px;
    }

    #form-mid {
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 1px 10px rgba(7, 95, 177, 0.397);
        padding: 60px;
        padding-right: 100px;
        border-radius: 14px;
    }

    .TextArea {
        background: var(--accentdim2);
        border: 2px solid var(--accentdim2);
        color: var(--accentdark);
        font-size: 18px;
        font-weight: 500;
        padding: 12px 15px;
        width: 100%;
        border-radius: 14px;
        height: 55px;
    }

        .TextArea:focus {
            outline: none;
            border: 2px solid var(--accent);
            background: var(--accentdim2);
            box-shadow: var(--shadowsmall);
        }


    /* send button  */
    .btn-contact {
        border: none;
        font-size: 18px;
        font-weight: 800 !important;
        padding: 15px 30px;
        margin: 20px auto 0;
        color: var(--accentdim2);
        background: var(--accent);
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        border-radius: 10px;
        width: 300px;
    }

        .btn-contact:hover {
            cursor: pointer;
            box-shadow: var(--shadowsmall);
            filter: var(--bright);
        }

    .reg {
        color: rgb(0, 140, 255);
    }

        .reg:hover {
            text-decoration: none;
            color: rgb(77, 174, 253);
            transform: scale(1.3);
        }

    #pss2 {
        border: none;
        font-size: 18px;
        font-weight: 800 !important;
        padding: 15px 30px;
        margin: 20px auto 0;
        color: var(--accentdim2);
        background: var(--accent);
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        border-radius: 10px;
        width:200px;
    }

        #pss2:hover {
            cursor: pointer;
            box-shadow: var(--shadowsmall);
            filter: var(--bright);
        }
    .buttonSection {
        display:flex;
        text-align:left;
    }
</style>

<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>
<div class="buttonSection">
    <p onclick="hideSection1()" class="btn-contact" id="pss1">Change Password   <i class="fa-solid fa-angle-down"></i></p>
    <p onclick="hideSection2()" id="pss2">Hide <i class="fa-solid fa-angle-up"></i></p>
</div>

<script>
    function hideSection1() {
        document.getElementById('pswd').style.transition = '2s';
        document.getElementById('pswd').style.display = 'block';
        document.getElementById('pss1').style.display = 'none';
        document.getElementById('pss2').style.display = 'block';
    }
    function hideSection2() {
        document.getElementById('pswd').style.display = 'none';
        document.getElementById('pss1').style.display = 'block';
        document.getElementById('pss2').style.display = 'none';
    }
</script>


<div id="pswd">
    <div id="wrapper">
        <section id="contact-form" style="max-width: 450px; margin: 0 auto;">
            <div id="form-mid">
                @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h3>Change Password</h3>
                    <hr />

                    @Html.ValidationSummary()
                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "field" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "TextArea" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "field" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "TextArea" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "field" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "TextArea" })
                        </div>
                    </div>
                    <input type="submit" value="Change password" class="btn-contact" />
                }
            </div>
        </section>
    </div>
</div>
